$max-width: 960px;
$padding: 2rem;
* {
	box-sizing: border-box;
}

html {
	font-family: "Helvetica Neue", sans-serif;
	letter-spacing: -.01em;
	line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.2;
}

a {
	word-break: break-all;
}

// fuck bootstrap
.flex {
	@media (min-width: 768px) {
		display: flex;
	}
	@for $i from 1 through 12 {
		&--col#{$i} {
			flex: #{$i};
		}
	}
}
[class^='flex--col'] {
	padding: $padding;
	* {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}	
}

.container {
	max-width: $max-width;
	margin: auto;
}

